.footer-section{
    background-color: rgba(0, 0, 0,0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;

}
.imgHolder{
    width: 15%;
}
.imgHolder img{
    width: 90%;
}
.footer-section h3{
    font-size: 2rem;
}

.docs ul{
   list-style: none;
   padding-top: 1rem;
}
.docs ul li{
    padding-top: 0.7rem;
   
}
.docs ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.footer-section hr{
    height: 1px;
    border: none;
    width: 70%;
 background-color: purple;
}
.social-links{
    padding-top: 2rem;
}
.social-links a{
    font-size: 2rem;
    color: white;
    padding-right: 1rem;
}
.contactList{
    padding-top: 1rem;
}
.contactList h4{
    padding-top: 1rem;
}

@media only screen and (max-width:768px) {
    .footer-section{
        flex-direction: column;
        padding: 2rem;
    }
    .imgHolder{
        display: none;
    }
.docs{
    padding-top: 1rem;
}
.socials{
    padding-top: 1rem;
}
.contactUs{
    padding-top: 1rem;
}
}