* {
  padding: 0;
  margin: 0;
}

body {
  z-index: 1;
}

/* Home */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 60vh;
}

.logo-div p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
}

.logo-home {
  width: 30%;
}

.cost1 {
  position: absolute;
  bottom: 30%;
  left: 7%;
}

.cost2 {
  position: absolute;
  top: 40%;
  right: 6%;
}

.butHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-width: 40%;
}

.Btn {
  border-radius: 30px;
  border-color: transparent;
  height: 3.2rem;
  width: 12rem;
  background-color: rgba(128, 128, 128, 0.25);
  color: white;
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Btn:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 1);
  transform: scale(1.1);
}
.cost1 img {
  width: 60%;
}
.cost2 img {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .cost2 {
    top: 16%;
    right: -17%;
  }

  .cost1 {
    bottom: 17%;
    left: 5%;
  }
  .cost1 img {
    width: 44%;
  }
  .cost2 img {
    width: 42%;
  }

  .butHolder {
    flex-direction: column;
    justify-content: space-between;
  }

  .Btn {
    margin: 1rem;
  }

  .logo-div {
    height: 50vh;
  }

  .logo-home {
    width: 60%;
  }

  .logo-div p {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
  }
}

/* About */
.abdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rstar {
  position: absolute;
  top: -10%;
  right: 0%;
}
.topstar {
  width: 80%;
}
.lstar {
  position: absolute;
  bottom: -10%;
  left: 0%;
}
.botstar {
  width: 60%;
}
.abbox {
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 50px;
  border-color: transparent;
  text-align: center;
  padding: 2rem;
  width: 72.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.abbox h2 {
  font-size: 2.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.abbox p {
  padding: 1rem;
  font-size: 1.72rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.aconst1 {
  position: absolute;
  top: 0%;
  right: 5%;
}
.aconst2 {
  position: absolute;
  top: 0%;
  left: 20%;
}
.aconst3 {
  position: absolute;
  bottom: 20%;
  left: 7%;
  z-index: -1;
}
@media only screen and (max-width:768px) {
	.abbox p{
		font-size: 1.1rem;
		padding: 0;
		padding-top: 1rem;
	}
	.abbox h2{
		font-size: 2.1rem;
	}
  .aconst1{
    top: 10%;
    right: 0%;
  }
  .aconst2{
    display: none;
  }
  .rstar{
    top: 6%;
    right: -13%;
  }
}

/* Whatishackthespace */
.wihts{
	background-color: rgba(128, 128, 128, 0.25);
	border-radius: 50px;
	border-color: transparent;
	text-align: center;
	padding: 2rem;
	width: 72.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.frm{
	position: absolute;
	bottom: -30%;
	right: -13%;
}
.frm img{
	width: 70%;
}
@media only screen and (max-width:768px) {
  .frm{
    bottom: -20%;
    right: -40%;
  }
  .frm img{
    width: 50%;
  }
}