@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Montserrat:ital,wght@0,400;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  z-index: 1;
}

.go-to-top-btn {
  position: fixed;
  padding: 1.3rem;
  border: none !important;
  outline: none !important;
  display: none;
  border-radius: 50%;
  z-index: 9;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  transform: rotateZ(-45deg);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: all;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.go-to-top-btn .show {
  display: block;
}

.rocket-btn {
  transition: all 0.4s;
  font-size: 30px;
  animation: wave 2s infinite;
  color: rgb(167 139 250 / 0.7);
  text-shadow: none;
}

.go-to-top-btn:hover .rocket-btn {
  color: rgb(167 139 250 / 1);
  text-shadow: 10px 10px 80px rgb(167 139 250 / 1);
}

@keyframes wave {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-2%);
  }

  50% {
    transform: translateY(-4%);
  }

  75% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Home */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70vh;
  margin-top: 2rem;
}

.logo-div p {
  margin: 2rem 0;
  font-size: 1.4rem;
}

.logo-home {
  width: 35%;
}

.logo-home img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.butHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  min-width: 40%;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.Btn {
  font-size: 1.2rem;
  width: 40%;
  height: 3.5rem;
  /* vinit */
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  border: none !important;
  outline: none !important;
  transform: scale(1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Btn .icon {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-6%, -50%);
  color: #fff;
  font-size: 1.6rem;
}

.Btn .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -50%);
  z-index: 1;
  color: rgb(167 139 250 / 1);
}

.Btn:active {
  transform: scale(0.95);
}

.gradient-mask {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: all;
  position: absolute;
  inset: 0;
  width: 25%;
  height: 100%;
}

.Btn:hover .gradient-mask {
  width: 100%;
}

.Btn:hover .text {
  color: #fff;
}

.black-bg {
  background-image: linear-gradient(to right, #434343, #000000);
}

.zinc-bg {
  background-image: linear-gradient(to left, #27272a, #27272b);
}

.blue-bg {
  background-image: linear-gradient(to left, #1e40af, #60a5fa);
}

.cost1.build-in-animate {
  animation-play-state: running;
}

.cost1 {
  position: absolute;
  /* bottom: 30%; */
  left: 7%;
  /* animation: wobble 10s infinite; */
  animation: floaty 4s ease infinite;
}

@keyframes floatx {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

@keyframes floaty {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes constmove {
  0% {
    top: 30%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 30%;
  }
}

.cost2 {
  position: absolute;
  top: 40%;
  right: 6%;
  width: fit-content;
  animation: floaty 6s ease infinite;
}

.cost1 img {
  width: 60%;
  opacity: 0.7;
}
.cost2 img {
  width: 70%;
}

@media screen and (max-width: 1000px) {
  .Btn {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .cost2 {
    top: 16%;
    right: 0%;
    width: 75px;
  }

  .cost1 {
    bottom: 17%;
    left: 5%;
    opacity: 0.7;
  }
  .cost1 img {
    width: 44%;
  }
  .cost2 img {
    width: 82%;
  }

  .Btn {
    width: 100%;
  }

  .logo-div {
    height: 50vh;
  }

  .logo-home {
    width: 60%;
  }

  .logo-div p {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .butHolder {
    width: 70%;
  }
}

/********************* About **********************/
.abdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  color: white;
}
.rstar {
  position: absolute;
  top: -16%;
  right: -4%;
}
.topstar {
  width: 100%;
  animation: pulse 2s linear infinite;
}
.lstar {
  position: absolute;
  bottom: -12%;
  left: -8%;
  animation: pulse 3s linear infinite;
}
.botstar {
  width: 60%;
}
.abbox {
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 86px;
  border-color: transparent;
  text-align: center;
  padding: 2rem 2rem 4rem;
  width: 72.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.abbox h2 {
  font-size: 2.6rem;
  line-height: 3.2rem;
  letter-spacing: 0.08em;
  margin-bottom: 2rem;
  color: rgb(167 139 250 / 1);
}

.abbox p {
  padding: 0 3rem 0.5rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.08em;
  color: #fbeeee;
}
.aconst1 {
  position: absolute;
  top: 5%;
  right: 5%;
  animation: floatx 3s linear infinite;
}
.aconst2 {
  position: absolute;
  top: 0%;
  left: 20%;
  animation: floaty 4s linear infinite;
}
.aconst3 {
  position: absolute;
  bottom: 30%;
  left: 7%;
  z-index: -1;
  animation: floatx 3.2s linear infinite;
}

@media only screen and (max-width: 768px) {
  .abdiv {
    margin: 4rem 0;
    height: 130vh;
  }

  .abbox {
    border-radius: 21px;
  }

  .abbox h2 {
    font-size: 2.1rem;
    line-height: 2.5rem;
    margin-bottom: 0;
  }

  .abbox p {
    font-size: 1.1rem;
    padding: 0;
    padding-top: 1rem;
  }

  .aconst1 {
    top: 10%;
    right: 0%;
  }
  .aconst2 {
    display: none;
  }
  .rstar {
    top: -10%;
    right: -13%;
  }
  .lstar {
    left: -15%;
    bottom: -8%;
  }
}

/* Whatishackthespace */
.wihts {
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 50px;
  border-color: transparent;
  text-align: center;
  padding: 2rem;
  width: 72.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.frm {
  position: absolute;
  bottom: -30%;
  right: -13%;
}
.frm img {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .frm {
    bottom: -10%;
    right: -40%;
  }
  .frm img {
    width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  .abbox {
    width: 60%;
  }
}
