@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  z-index: 1;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.go-to-top-btn {
  position: fixed;
  padding: 1.3rem;
  border: none !important;
  outline: none !important;
  display: none;
  border-radius: 50%;
  z-index: 9;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  transform: rotateZ(-45deg);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: all;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  background: none;
}

.go-to-top-btn .show {
  display: block;
}

.rocketSmoke {
  width: 100px;
  height: 100px;
  rotate: 46deg;
}

.rocketFire {
  display: none;
  width: 100px;
  height: 100px;
  rotate: 46deg;
}

@media only screen and (max-width: 768px) {
  .go-to-top-btn {
    right: -8%;
    bottom: 0px;
  }
}

.rocket-btn {
  transition: all 0.4s;
  font-size: 30px;
  animation: wave 2s infinite;
  color: rgb(167 139 250 / 0.7);
  text-shadow: none;
}

.go-to-top-btn:hover .rocket-btn {
  color: rgb(167 139 250 / 1);
  text-shadow: 10px 10px 80px rgb(167 139 250 / 1);
}

@keyframes wave {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-2%);
  }

  50% {
    transform: translateY(-4%);
  }

  75% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}
