:root {
  --oval-width: 10.5rem;
  --oval-height: 56.5rem;
  /* --oval-width: 200px;
  --oval-height: 950px; */
  --child-size: 20px;
}

nav .desktop-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.7);

  padding: 1rem;
  z-index: 9999;
}

nav .logo.shrink {
  width: 50px;
  height: 40px;
}

nav .logo {
  align-self: flex-start;
  width: 80px;
  height: 70px;
  overflow: hidden;
  margin-left: 0.5rem;
}

nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav .desktop-nav .links {
  margin-top: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
}

nav .desktop-nav .links a {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.7rem;
  letter-spacing: 0.08em;
  color: #fff;
  text-shadow: -0.25px -0.25px 0 transparent, 0.25px 0.25px transparent;
  text-decoration: none;
  transition: all 0.25s ease-out;
  position: relative;
}

nav .desktop-nav .links a:hover {
  color: rgb(167 139 250 / 1);
  text-shadow: -0.25px -0.25px 0 rgb(167 139 250 / 1),
    0.25px 0.25px rgb(167 139 250 / 1);
}

nav .desktop-nav .links a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 10px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav .desktop-nav .links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav .mlh-flag {
  position: relative;
  top: 3.5rem;
  right: 2rem;
  width: 100px;
}

nav .mlh-flag img {
  width: 100%;
  height: 100%;
}

.baap {
  display: none; /* // temporary */

  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: 10;
}

.parent {
  position: relative;
  width: var(--oval-width);
  height: var(--oval-height);
  border-radius: 100%;
  transition: transform 0.5s;
  box-shadow: -25px 0px 0 10px rgba(0, 0, 0, 0.6) inset;
  border: 50px solid rgba(0, 0, 0, 0.6);
}

.child {
  position: absolute;
  width: var(--child-size);
  height: var(--child-size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  transform: rotate(-90deg);
}

.child a {
  font-size: 1.3rem;
  color: #f4f4f4;
  text-decoration: none;
}

.child.active {
  font-weight: 900;
}

.curve-1,
.curve-2 {
  height: 500px;
  border-bottom: 2px solid #fffff4;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.curve-1 {
  display: none;
  width: calc(100% - 12rem);
  top: -440px;
}

.curve-2 {
  display: none;
  width: calc(100% - 16.5rem);
  top: -360px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

nav .mobile-nav {
  display: none;
}

@media screen and (max-width: 1000px) {
  .baap,
  .curve-1,
  .curve-2 {
    display: none;
  }

  nav .mlh-flag {
    top: 0%;
  }

  nav .mlh-flag {
    right: 10%;
  }

  nav .mlh-flag img {
    width: 100px;
  }

  nav .mobile-nav {
    display: block;
    transition: all 0.5s ease-in;
  }

  nav .mobile-nav-links {
    transition: all 0.5s ease-in;
    z-index: 1000;
    position: fixed;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15%;
    right: 0;

    background-color: rgba(0, 0, 0, 1);
    transform: translate(100%, 0);
  }

  nav .mobile-nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 1.2rem 0;
    font-size: 1rem;
  }

  nav .mobile-nav-icons {
    color: #fff;
    position: fixed;
    right: 0%;
    top: 1%;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 1000;
  }
}

@media screen and (min-width: 1000px) {
  .desktop-nav {
    display: flex !important;
  }
}
/* @media screen and (min-width: 1000px) {
  :root {
    --oval-width: 12.5rem;
    --oval-height: 35rem;
  }

  .curve-1 {
    width: 70%;
    top: -440px;
  }

  .curve-2 {
    width: 75%;
    top: -350px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --oval-width: 10.5rem;
    --oval-height: 40.5rem;
  }

  .baap {
    top: 1%;
  }

  .curve-1 {
    width: 70%;
    top: -440px;
  }

  .curve-2 {
    width: 75%;
    top: -350px;
  }
}

@media screen and (min-width: 1365px) {
  :root {
    --oval-width: 12.5rem;
    --oval-height: 44.5rem;
  }

  .curve-1 {
    width: 70%;
    top: -440px;
  }

  .curve-2 {
    width: 75%;
    top: -350px;
  }
}

@media screen and (min-width: 1640px) {
  :root {
    --oval-width: 12.5rem;
    --oval-height: 52.5rem;
  }

  .curve-1 {
    width: 65%;
    top: -440px;
  }

  .curve-2 {
    width: 69%;
    top: -350px;
  }
} */
.mlh-flag2 {
  width: fit-content;
  top: 0%;
}
.mlh-flag2 img {
  width: 70px;
  z-index: 500;
}
.burgMlh {
  display: flex;
}
