.organiser-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.organiser-section .title {
  text-align: center;
  font-size: 2.5rem;
  width: 50%;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.organiser-section .card {
  margin: 3rem 0;
}

.organiser-section .card .organiser-image {
  width: 237px;
  height: 237px;
  border-radius: 50%;
  overflow: hidden;
}

.organiser-section .card .organiser-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.organiser-section .card .organiser-name {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .organiser-section .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 0;
  }

  .organiser-section .container .card {
    margin: 2rem;
  }
}

@media screen and (min-width: 1160px) {
  .organiser-section .container {
    width: 100%;
    padding: 2rem 0;
  }

  .organiser-section .container .card {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1440px) {
  .organiser-section .container {
    width: 80%;
    padding: 2rem;
  }
}

@media screen and (min-width: 1880px) {
  .organiser-section .container {
    width: 60%;
    padding: 2rem;
  }
}
