.sponser-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 3rem 0;
}

.sponser-section .title {
  text-align: center;
  font-size: 2.5rem;
  /* width: 50%; */
  line-height: 2.5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;

  background-image: -webkit-linear-gradient(to right, #592ee1 0%, #9636d9 100%);
  background-image: linear-gradient(to right, #592ee1 0%, #9636d9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto 0;
}

.sponser-section .sponser-container {
  margin: 0 0 2rem;
  text-align: center;
}

.sponser-section .sponser {
  margin: 3rem 0;
}

.sponser-section .sponser h2 {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 1rem;
}

.sponser-section .sponser .card .wrapper {
  /* background: rgba(217, 217, 217, 0.18); */
  background: transparent;
  padding: 2rem;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  position: relative;
}

.sponser-section .sponser.silver .card .wrapper::after,
.sponser-section .sponser.bronze .card .wrapper::after {
  content: "";
  position: absolute;
  top: -5px;
  width: 105%;
  height: 110%;
  border-radius: 11px;
  z-index: -1;
}

.sponser-section .sponser.diamond .card .wrapper::after {
  background: linear-gradient(60deg, #b7f1fd, #d0f8ff, #b7f1fd, #dffcff);
  box-shadow: 0 0 15px #b7f1fd;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.sponser-section .sponser.gold .card .wrapper::after {
  background: linear-gradient(60deg, #ebd197, #b48811, #a2790d, #bb9b49);
  box-shadow: 0 0 15px #bb9b49;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.sponser-section .sponser.silver .card .wrapper::after {
  background: linear-gradient(
    60deg,
    /* #70706f, */ rgba(112, 112, 111, 0.3),
    rgba(125, 125, 122, 0.3),
    rgba(142, 141, 141, 0.3),
    rgba(161, 162, 163, 0.3),
    rgba(179, 182, 181, 0.3),
    rgba(190, 192, 194, 0.3)
  );
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.sponser-section .sponser.bronze .card .wrapper::after {
  background: linear-gradient(
    60deg,
    rgba(128, 74, 0, 0.3),
    rgba(137, 94, 26, 0.3),
    rgba(156, 122, 60, 0.3),
    rgba(176, 141, 87, 0.3)
  );
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sponser-section .sponser .pic {
  width: 150px;
  height: 40px; /*237*/
  /* border-radius: 20px; */
  overflow: hidden;
}

.sponser-section .sponser .pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sponser-section .sponser .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
