.sponser-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  /* padding: 2rem; */
  /* margin: 3rem 0; */
  position: relative;
}


.aconst7{
  position: absolute;
  display: none;
  /* display: none; */
  top: 10%;
  right: 5%;
  z-index: -1;
  animation: floatx 3.2s linear infinite;
}

.aconst7 img{
  height: 120px;
  width: 120px;
  opacity: 0.8;
}

.sponser-section .sponser-container {
  /* margin: 0 0 2rem; */
  text-align: center;
}

.sponser-section .sponser {
  margin: 3rem 0;
}

.sponser-section .sponser h2 {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 1rem;
}

.sponser-section .sponser .wrapper .card {
  /* background: rgba(217, 217, 217, 0.18); */
  background: transparent;
  padding: 2rem;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  position: relative;
}
.sponser-section .sponser.inkind .wrapper .card::after,
.sponser-section .sponser.silver .wrapper .card::after,
.sponser-section .sponser.bronze .wrapper .card::after {
  content: "";
  position: absolute;
  top: -5px;
  width: 105%;
  height: 110%;
  border-radius: 11px;
  z-index: -1;
}

.sponser-section .sponser.diamond .wrapper .card::after {
  background: linear-gradient(60deg, #b7f1fd, #d0f8ff, #b7f1fd, #dffcff);
  box-shadow: 0 0 15px #b7f1fd;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.sponser-section .sponser.gold .wrapper .card::after {
  background: linear-gradient(60deg, #ebd197, #b48811, #a2790d, #bb9b49);
  box-shadow: 0 0 15px #bb9b49;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.sponser-section .sponser.silver .wrapper .card::after {
  background: linear-gradient(
    60deg,
    rgba(112, 112, 111, 0.4),
    rgba(125, 125, 122, 0.4),
    rgba(142, 141, 141, 0.4),
    rgba(161, 162, 163, 0.4),
    rgba(179, 182, 181, 0.4),
    rgba(190, 192, 194, 0.4)
  );
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.sponser-section .sponser.bronze .wrapper .card::after {
  background: linear-gradient(
    60deg,
    rgba(128, 74, 0, 0.3),
    rgba(137, 94, 26, 0.3),
    rgba(156, 122, 60, 0.3),
    rgba(176, 141, 87, 0.3)
  );
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.sponser-section .sponser.inkind .wrapper .card::after {
  background: linear-gradient(
    60deg,
    rgba(112, 112, 111, 0.1),
    rgba(125, 125, 122, 0.1),
    rgba(142, 141, 141, 0.1),
    rgba(161, 162, 163, 0.1),
    rgba(179, 182, 181, 0.1),
    rgba(190, 192, 194, 0.1)
  );

}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sponser-section .sponser .pic {
  width: 150px;
  height: 40px; /*237*/
  /* border-radius: 20px; */
  overflow: hidden;
}

.sponser-section .sponser .pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sponser-section .sponser .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
