.why-sponser-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem 5rem;
  margin: 3rem 0;
}

.why-sponser-section .title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(to right, #592ee1 0%, #9636d9 100%);
  background-image: linear-gradient(to right, #592ee1 0%, #9636d9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto 0.5rem;
}

.why-sponser-section .container {
  margin: 0rem 0 2rem;
}

.why-sponser-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(217, 217, 217, 0.18);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem 2rem 3rem;
  margin: 2rem 0;
  border-radius: 37px;
  transition: all 0.3s linear;
}

.why-sponser-section .card:hover {
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}

.why-sponser-section .card .card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(167 139 250 / 1);
  width: fit-content;
  margin: 0 auto;
}

.why-sponser-section .card h2 {
  font-size: 1.43rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: rgb(167 139 250 / 1);
}

.why-sponser-section .card .icon {
  font-size: 2rem;
  border-radius: 50%;
  padding: 1rem;
  color: rgb(167 139 250 / 1);
}

.why-sponser-section .card p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  letter-spacing: 0.08em;
  color: #fbeeee;
  margin: 1rem 0;
  text-align: justify;
}

.why-sponser-section .btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 1rem;
  margin: 2rem 0;
}

@media screen and (min-width: 500px) {
  .why-sponser-section .btn-container {
    width: 50%;
    gap: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .why-sponser-section .container {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .why-sponser-section .card {
    width: 37%;
    height: 320px;
    justify-content: flex-start;
    margin: 1rem 0;
  }

  .why-sponser-section .btn-container {
    width: 40%;
    gap: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .why-sponser-section .container {
    padding: 0 2rem;
    justify-content: center;
  }

  .why-sponser-section .container {
    margin: 1rem 0 2rem;
  }

  .why-sponser-section .card {
    height: 300px;
    width: 35%;
    margin: 1rem;
  }
  .why-sponser-section .btn-container {
    width: 60%;
  }
}

@media screen and (min-width: 1215px) {
  .why-sponser-section .card {
    width: 30%;
  }

  .why-sponser-section .btn-container {
    width: 50%;
  }
}

@media screen and (min-width: 1500px) {
  .why-sponser-section .container {
    width: 60%;
  }

  .why-sponser-section .card {
    width: 38%;
  }
}

@media screen and (min-width: 1800px) {
  .why-sponser-section .container {
    width: 50%;
  }
}
